@using System
@using System.Collections.Generic
@using System.Threading.Tasks
@using Microsoft.AspNetCore.Components
@using Microsoft.JSInterop
@using ComponentsLibrary.Map
@inject IJSRuntime JSRuntime



    <div id="@elementId" style="height: 100%; width: 100%;">
    </div>

        @code {
            private List<Marker> _markers;
            string elementId = $"map-{Guid.NewGuid().ToString("D")}";

            [Parameter]
            public double Zoom { get; set; }

            [Parameter]
            public List<Marker> Markers { get; set; }
            [Parameter]
            public bool CanAddNewMarkers { get; set; }
            [JSInvokable]
            public void AddMarker(double latitude, double longitude)
            {
                RightCLickCallback(latitude, longitude);

            }
            public Action<double, double> RightCLickCallback { get; set; }

            protected override async Task OnAfterRenderAsync(bool firstRender)
            {
                var dotNetObjectRef = DotNetObjectReference.Create(this);

                await JSRuntime.InvokeVoidAsync(
                    "deliveryMap.showOrUpdate",
                    elementId,
                    Markers,
                    CanAddNewMarkers,
                    dotNetObjectRef);

            }
        }
