@inherits LayoutComponentBase

        <NavMenu />
        <div id="main" class="container-fluid offset-2 col-6">
            @Body
        </div>
<!-- Footer -->
<!--<footer class="py-5 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p class="m-0 text-white">Copyright &copy; CroudSeek</p>
            </div>
            <div class="col-md-4">
                <p class="m-0 text-white">Contact Info:</p>
                <p class="m-0 text-white">Phone: 555-555-1234 <br />Address: 1234 Test <br />Email: Care@CroudSeek.com</p>
            </div>
            <div class="col-md-4">
                <p class="m-0 text-white">Coffee Fact of the Day</p>
                <p class="m-0 text-white">More cups of coffee are drank every day than there are people on earth. <i>(May not be true)</i></p>
            </div>
        </div>
    </div>
</footer>-->
