@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using CroudSeek.Client.Contracts

@*@inject IAccessTokenProvider TokenProvider*@
@inject NavigationManager Navigation
@*@inject SignOutSessionStateManager SignOutManager*@
@inject IAuthenticationService AuthenticationService

<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container">
        <a class="navbar-brand" href="/">CroudSeek</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            @*            <span class="navbar-toggler-icon"></span>*@
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <!--<li class="nav-item">-->
                @*                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All"></NavLink>*@
                <!--</li>-->
                @*<AuthorizeView>
                    <Authorized>*@
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/questoverview">Quests</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/zoneoverview">Zones</NavLink>
                </li>
                @*</Authorized>
                    </AuthorizeView>*@
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Manage Quests</a>
                            <div class="dropdown-menu">
                                <NavLink class="dropdown-item" href="/questedit">Add/Edit quest</NavLink>
                                <NavLink class="dropdown-item" href="/viewedit">Add/Edit view</NavLink>
                                <NavLink class="dropdown-item" href="/datapointedit">Add/Edit datapoint</NavLink>
                                <NavLink class="dropdown-item" href="/zoneedit">Add/Edit zone</NavLink>
                            </div>
                        </li>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView>
                    <Authorized>
                        @*<li class="nav-item">
                                <NavLink class="nav-link" href="/viewedit">Add/Edit view</NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="/datapointedit">Add/Edit datapoint</NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="/zoneedit">Add/Edit zone</NavLink>
                            </li>*@
                        <li class="nav-item">
                            <button class="nav-link bg-transparent text-danger"
                                    @onclick="BeginSignOut">
                                <span class="oi oi-list-rich" aria-hidden="true"></span>Log out (@GetUserName(context))
                            </button>
                        </li>

                        @*<li class="nav-item">
                                <button class="nav-link"
                                        @onclick="WriteToken">Write token</button>
                            </li>*@
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item">
                            <NavLink class="nav-link"
                                     href="/login">Log in</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="register">Register</NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>


@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        //await SignOutManager.SetSignOutState();
        //Navigation.NavigateTo("authentication/logout");
        AuthenticationService.Logout();
    }

    private string GetUserName(AuthenticationState context)
    {
        var uName = context.User.Identity.Name;
        var subName=  context.User.Claims.Where((c) => c.Type == "sub").Select((c) => $"{c.Value}").FirstOrDefault();
        return subName ?? uName ?? "No NAME";
    }

    //private async Task WriteToken()
    //{
    //    var tokenResult = await TokenProvider.RequestAccessToken();
    //    if (tokenResult.TryGetToken(out var token))
    //    {
    //        System.Diagnostics.Debug.WriteLine(token.Value);
    //    }
    //}

}
